<ul>
  <% @events.each do |event| %>
  <li>
    <strong><%=  event.name %></strong>
    in <%= event.location %>:
    <% if event.price == 0 %>
      Free
    <% else %>
      <%= number_to_currency(event.price, precision: 0) %>
     <% end %>

  </li>
    <p>
      <%= event.description %>
    </p>
    <p>
      <%= truncate(event.description, length: 35, separator: '...') %>
    </p>
    <p>
      <%= event.starts_at %>
    </p>
  <% end %>


</ul>